body {
    background-color:black;
    font-family: arial;
    color: white;
}
h1 { 
    color:grey;
    font-family: verdana;
}
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}
label, button, #result   {
    margin-left: 5rem;
    display: inline-block;
    min-width: 100px;
    
}

#principal , #rate, #years {
    margin-left: 20px;
}


#result span {
    background-color: yellow;
}
footer {
    color: black;
}

